<!DOCTYPE html>
<html>
    <head>
        <title>Maldives</title>
    </head>
    <body>
       <center> <h3>Maldives</h3></center>
        <br>
        <p>
            Tourism is the largest economic industry in the Maldives, as it plays an important role in earning foreign exchange revenues and employing 2500 people in the tertiary sector of the country. The archipelago of the Maldives is the main source of attraction to many tourists visiting the island country.
        </p><hr>
        <br><h4>A Tropical resort</h4>
        <p>
            A tourist resort in the Maldives typically consists of an exclusive hotel on its own island, with its population entirely made up of tourists and work force, with no local people or houses.

Those islands developed for tourism are typically 800 by 200 metres in size, and are composed of sand and coral to a maximum height of about 2 metres above the sea. In addition to its beach encircling the island, each island has its own "house reef" which serves as a coral garden and natural aquarium for scuba divers and snorkelers. The shallow water enclosed by the house reef also serves as a large natural swimming pool and protects swimmers from the ocean waves and strong tidal currents outside the house reef.

The buildings on a typical resort include rooms and suites reserved for use by its guests, restaurants, coffee shops, shops, lounges, bars, discos and diving schools. A portion of the island also contains staff lodgings and support services such as catering, power generators, laundry, and a sewage plant. On-island shops offer a wide range of products, such as souvenirs and artifacts. Most resorts offer a wide variety of activities such as aerobics, volleyball and table tennis.
        </p><hr>
        <br><h4>Tourism development</h4>
        <p>
            Tourism in the Maldives has started in 1972 with only three hotels, now – there are more than 100 operational resorts. The unique condition of Maldives is that one island is one resort, meaning that one hotel occupies the whole island. By doing so, resorts provide more privacy and more luxury for their visitors. The Maldives are also trying to stay eco-friendly and use more of solar energy rather than diesel. The Maldives provide facilities and services, entertainment and telecommunication services, they also provide numerous resorts, hotels, guest houses, and liveboards.
        </p><hr><br>
        <h4>Climate change</h4>
        <p>
            The Maldives' economy is greatly influenced by any climate changes. Tourism sector can be damaged by the increased likelihood of violent storms, damage to coral reefs, and beach erosion, which are now more likely to happen because of the rising seas.

As a consequence of climate change, Maldives is now facing the problem of rising seas and coral reefs bleaching. According to the World Bank, with "future sea levels projected to increase in the range of 10 to 100 centimeters by the year 2100, the entire country could be submerged." New government has made a decision to fight the rising seas problem with geoengineering projects instead of trying to move the population. The idea is to rent out other islands and even build new islands, so the population of those islands who are more in trouble could be relocated. One of those built islands is Hulhumale'
        </p>
    </body>
</html>