<!DOCTYPE html>
<html>
    <head>
        <titile><center><h1>RESUME</h1></center></titile>
        <link rel="stylesheet" href="../static/css/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=0.1">
    </head>
    <body>
        <body style="background-color: cornflowerblue;">
        <div class="border">
        <div class="flo">
        <div class="res">
       <ul>
           <div><br><br><br><br><br>
          <li><label>Name: K.Swetha </label></li></div>
          <div>
           <li><label>E.mail Id: swethamuthursk@gmail.com</label></li></div>
           <div>
           <li><label>Phone Number: 9123551394</label></li></div>
           <div>
           <li><label>Linkedin : linkedin.com/in/swetha-karunakaran-317410185</label></li></div>
           <div>
           <li><label>Location: cuddalore , Tamilnadu, India</label></li></div>
           <hr>
           <li><label><u><h3>Educational Qualification:</h3></u></label></li>
           <p><h4>Undergraduate degree in electronics and communication engineering</h4></p>
           <p>St.Joseph college of engineering</p>
           <hr>
           <li><label><u><h3>Personal Projects:</h3></u></label></li>
           <p>1.Design of microstrip patch antenna at frequency 2.4GHz</p>
           <p>2.Line follower robot using arduino </p>
           <hr>
           <li><label><u><h3>Certificates:</h3></u></label></li>
           <li><label>1.International workshop on microcontroller programming</label></li><br><br>
           <li><labl>2.International workshop on arduino programming robotics</labl></li>
           <hr>
           <li><label><u><h3>Technical Skills:</h3></u></label></li>
           <li><labe>1.HTML</labe></li><br>
           <li><label>2.CSS</label></li><br>
           <li><label>3.Python</label></li><br>
           <hr>
           <li><label><u><h3>Personal Interests:</h3></u></label></li>
           <li><label>1.Craft works</label></li><br>
           <li><label>2.Solving Puzzles</label></li>
       </ul></div></div>
       <div class="img">
           <img src="../static/image/sweaimg.jpeg" height="200" width="200">
       </div></div>
    </body>
</html>