<!DOCTYPE html>
<html>
    <head>
        <title>1st page</title>
        <link rel="stylesheet" href="../static/css/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=0.1">
    </head>
    <body>
        <div class="enjoy">
            <ul>
           <li> <a href="login.html">login</a></li>
            <li><a href="registration.html">Registration</a></li>  </div></ul>
        <body style="background-image:url(../static/image/mal.jpg);background-repeat: no-repeat;background-size: cover;background-attachment: fixed">
            <div class="name">
           <ul>
               <li > <a href="home.html">Home</a></li>
               <li > <a href="../static/image/mmal.jpg">Gallery</a></li>
               <li > <a href="contact.html">Contact</a></li>
               <li > <a href="about.html">About</a></li></ul>

        </div>
        <div class="main">
            <h1>Visit Maldives</h1>
        </div>
       
    </body>
</html>