<!DOCTYPE html>
<html>
    <head>
        <title>login page</title>
        <link rel="stylesheet" href="../static/css/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=0.1">
    </head>
    <body>
        <body style="background-image: url(../static/image/mali.jpg);background-repeat: no-repeat;background-attachment: fixed;background-size: cover">
        <div class="man">
        <h4>welcome to login page</h4></div>
      <form>
        <div class="sub">
            <div>
        <label> User name:</label>
        <input type="text" placeholder="enter your user name"  method="POST" required></div>
        <br>
        <div>
        <label>Password:</label>
        <input type="password" placeholder="enter your Password"  method="POST" required></div><br>
         <div>   <button><a href="dashboard.html">submit</button></div></form>
           <div class="run">
           <a href="registration.html">create a new account</a></div>
    </div>
    </body>
</html>